{% extends 'base.html.twig' %}

{% block title %}
    Créer un atelier
{% endblock %}

{% block body %}

   <div>
       {{ form_start(form) }}
       {{ form_widget(form) }}
       <button type="submit">Envoyer</button>
       {{ form_end(form) }}
   </div>
{% endblock %}