{% extends '@EasyAdmin/page/content.html.twig'%}

{% block page_title " " %}

{% block page_content %}
    <h1>Bienvenue sur la page d'Administration </h1>

        <h3>
            <a type="submit" name="participer" id="bouton_participer" href="{{path('app_home')}}">Retour sur la page d'accueil</a>
        </h3>
        
  

{% endblock %}

